		body {
			margin: 0px;
			color: #fff;
		}
		
		#map {
			/*height: 300px;
			width: 300px;*/
            height: 219.8px;
            width: 320px;
			position: fixed !important;
			/*border-radius: 50%;*/
			border: 4px solid #292929;
		}
        
        .emptyindicator {
            height: 80%;
            margin: 1px;
            top: 5%;
            position: absolute;
            background-color: black;
        }
        
        #health {
            background-color: green;
            height: 100%;
        }
        
        #oxygen {
            background-color: #00DEFF;
            height: 100%;
        }
        
        #oxygenBlock {
            left: 60%;
            position: absolute;
        }
		
		.pos-upperleft {
			left: 20px;
			top: 20px;
		}
		
		.pos-upperright {
			right: 20px;
			top: 20px;
		}
		
		.pos-bottomleft {
			left: 20px;
			bottom: 20px;
		}
		
		.pos-bottomright {
            right: 20px;
            bottom: 20px;
		}
        
        #indicators {
            width: 320px;
            height: 15px;
            background-color: #292929;
            border-bottom: 4px solid #292929;
            border-left: 4px solid #292929;
            border-right: 4px solid #292929;
            border-top: 3px solid #292929;
            position: absolute;
            color: white;
        }
        
        .ipos-upperleft {
            left: 20px;
            top: 243.8px;
        }
        
        .ipos-upperright {
            right: 20px;
            top: 243.8px;
        }
        
        .ipos-bottomleft {
            left: 20px;
            bottom: 16px;
        }
        
        .ipos-bottomright {
            right: 20px;
            bottom: 16px;
        }
		
		.arrow {
			background-image: url('images/arrow.png');
			width: 40px;
			height: 40px;
			z-index: 1;
			background-size: cover;
			left: 43%;
			top: 43%;
			position: relative;
		}
		
		.leaflet-container {
			background: #152f3a;
		}
		
		.leaflet-control-attribution {
			background: transparent;
		}
		
		.leaflet-control-attribution a {
			color: transparent;
		}
